/* 
*	=================================================================================================================================================
*	GENERATED CSS FILE
*	=================================================================================================================================================
*/



body {
    font-family: Open Sans;
    font-weight: 400;
    font-style: ;
    font-size: 15px;
    line-height: 24px;
    color: #222;
    background-color: #c4c4c4;
    background-image: url('');
    background-repeat: ;
    background-position: ;
    background-size: ;
    background-attachment: ;
}

.oi_legend {
    font-family: Roboto;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #222;
}

.oi_sub_legend {
    font-family: Roboto;
    font-weight: 900;
    font-size: 40px !important;
    line-height: 48px !important;
    color: #222;
}




h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: ;
    font-size: 36px;
    line-height: 40px;
    color: #222;
}

h2 {
    font-family: Roboto;
    font-weight: 400;
    font-style: ;
    font-size: 30px;
    line-height: 34px;
    color: #222;
}


h3 {
    font-family: Roboto;
    font-weight: 400;
    font-style: ;
    font-size: 24px;
    line-height: 28px;
    color: #222;
}


h4 {
    font-family: Roboto Mono;
    font-weight: 400;
    font-style: ;
    font-size: 18px;
    line-height: 24px;
    color: #222;
}

h5 {
    font-family: Roboto Mono;
    font-weight: 400;
    font-style: ;
    font-size: 16px;
    line-height: 18px;
    color: #222;
}

h6 {
    font-family: Roboto Mono;
    font-weight: 400;
    font-style: ;
    font-size: 16px;
    line-height: 24px;
    color: #848484;
}

a {
    color: #f08519
}

#filters a:hover {
    color: #f08519 !important
}

a:hover {
    color: #f08519
}

.oi_header_menu>li.current-menu-item>a,
.oi_header_menu>li.current-menu-parent>a,
.oi_header_menu>li.current_page_parent>a,
.oi_header_menu>li.current-menu-parent:hover>a,
.oi_header_menu>li.current_page_parent:hover>a {
    color: #f08519
}

.oi_link_block a:hover {
    color: #f08519 !important;
}

.page-numbers.current {
    color: #f08519
}

.colored {
    color: #f08519;
}

.oi_soc_header a:hover {
    color: #f08519;
}

#scroll_to_content a:hover {
    text-decoration: none;
    color: #f08519;
    border-color: #f08519
}

.post-categories li:not(.current-menu-item):not(.current-menu-parent) a:after {
    background: #f08519;
}

.post-categories li:not(.current-menu-item):not(.current-menu-parent) a:hover:before {
    background: #f08519;
}

.oi_header_menu ul>li>a:hover {
    color: #f08519
}

.oi_header_menu ul>li.current-menu-item>a {
    color: #f08519
}

.oi_breadcrumbs a:hover {
    color: #f08519;
    text-decoration: none;
}

.oi_add_post_like:hover strong {
    color: #f08519;
}

.oi_add_post_like.oi_already_post_liked strong {
    color: #f08519;
}

.oi_already_post_liked .oi_like_post_count {
    color: #f08519;
}

.oi_blog_post_cat.oi_already_post_liked {
    color: #f08519
}

.oi_readmore_btn:hover {
    color: #f08519;
    text-decoration: none;
}

.oi_blog_post_meta_holder {
    color: #f08519
}

.oi_ddate {
    color: #f08519;
    border-bottom: 1px solid #f08519;
}

.oi_blog_post_cat a:after,
.oi_readmore_btn:after {
    background: #f08519;
}

.oi_blog_post_cat a:hover:before,
.oi_readmore_btn:hover:before {
    background: #f08519;
}

.link_post .link_date {
    color: #f08519;
    border-bottom: 1px solid #f08519;
}

.link_url .blog_title_a:hover {
    color: #f08519
}

.wpcf7 input.wpcf7-submit:hover {
    color: #f08519
}

.oi_content_btn:hover {
    color: #f08519;
}

.comment-form input#submit:hover {
    color: #f08519
}

#load_more_port_masorny_posts:hover {
    color: #f08519;
}

@media (min-width: 0px) and (max-width: 767px) {
    .post-categories>li.current-menu-item>a {
        color: #f08519
    }

    .post-categories li.active {
        background: #f08519
    }
}

#wp-calendar a {
    color: #f08519
}

#wp-calendar caption {
    color: #f08519
}

.oi_tweet a:hover {
    color: #f08519;
}

.oi_tweet_time>a.twitter_time {
    color: #f08519;
}

.oi_widget ul:not(#cbox):not(.oi_instagram_widget_ul) li a:hover {
    text-decoration: none;
    opacity: 1;
    color: #f08519;
}

.oi_header_menu ul {
    border-top-color: #f08519 !important;
}

.oi_port_sep {
    background: #f08519 !important;
}

.filter_current {
    color: #f08519 !important;
}